// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { }

@font-face {
  font-family: 'gotham';
  src: url('font/ufonts.com_gotham-book-webfont.eot');
  src: url('font/ufonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/ufonts.com_gotham-book-webfont.woff2') format('woff2'),
       url('font/ufonts.com_gotham-book-webfont.woff') format('woff'),
       url('font/ufonts.com_gotham-book-webfont.ttf') format('truetype'),
       url('font/ufonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gotham';
  src: url('font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
       url('font/Gotham-Bold.otf')  format('opentype'),
       url('font/Gotham-Bold.woff') format('woff'), 
       url('font/Gotham-Bold.ttf')  format('truetype'), 
       url('font/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/** font face **/

