// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { 
  z-index: 2; 
  position: relative; 
  background: $coBlack;
  padding: 20px;
  color: $coWhite;
  @include font-size(14px);

}
