// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; @include font-size(16px); }

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($coBlack, 0.4);
  z-index: 91;

  @include breakpoint(lg-min) {
    display: none !important;
  }
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background: $coBlack;
  z-index: 99;
  @include font-size(14px);

  &__menu {
    > ul {
      > li {
        display: inline-block;
        position: relative;
  
        > a {
          color: $coWhite;
          padding: 0 25px;
        }
  
        &:last-child {
          a {
            border-right: none;
          }
        }

        &:hover {
          a {
            color: $coOrange;
          }
        }

        .dropdown {
          display: none;
          position: absolute;
          top: 20px;
          left: 0;
          width: 280px;
          padding-top: 20px;
          @include font-size(15px);
          
          ul {
            background: lighten($color: $coBlack, $amount: 10%);

            li {
              border-bottom: 1px solid rgba($coWhite, 0.1);
  
              a {
                display: block;
                color: $coWhite;
                padding: 10px;

                &:hover {
                  background: darken($coOrange, 10%);
                }
              }

              &:last-child {
                border-bottom: none;
              }
            } 
          }
        }
      }
    }
  }

  &__sns {
    a {
      margin-left: 10px;
    }
  }

  &.sm {
    padding: 15px;

    .header__logo {
      img {
        width: 130px;
        height: auto;
      }
    }
  }

  .burger-menu {
    position: absolute;
    top: 26px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    span {
      @extend .ease2;
      display: block;
      border-top: 3px solid $coWhite;
      &:nth-child(1),
      &:nth-child(3) {
        @include transform-origin(100% 50%);
      }
      &:nth-child(2) {
        margin: 6px 0;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          @include transform(rotate(-45deg) translateY(-2px));          
        }
        &:nth-child(2) {
          @include transform(scale(0,1));
        }
        &:nth-child(3) {
          @include transform(rotate(45deg) translateY(3px));          
        }
      }
    }
  }

  @include breakpoint(xl) {
    &__logo {
      img {
        width: 180px;
      }
    }

    &__menu {
      li {
        a {
          padding: 0 17px;
        }
      }
    }
  }

  @include breakpoint(lg) {
    padding: 10px 15px !important;

    &__logo {
      img {
        width: 130px !important;
      }
    }

    &__menu {
      position: fixed;
      top: 72px;
      right: 0;
      max-width: 300px;
      width: 100%;
      height: 100%;
      padding-bottom: 80px;
      background: $coBlack;
      display: block !important;
      overflow: auto;
      @include transform(translateX(100%));
      @include transition(all 0.3s ease);

      &.open {
        @include transform(translateX(0));
      }

      > ul {
        > li {
          display: block;
  
          > a {
            padding: 10px 17px;
            border: none;
            display: block;
          }

          .dropdown {
            position: relative;
            top: 0;
            width: 100%;
            padding-top: 0;

            ul {
              background: lighten($color: $coBlack, $amount: 10%);

              li {
                a {
                  padding: 10px 17px;
                }
              }
            }
          }
        }
      }
    }

    &__sns {
      padding-top: 20px;
      padding-left: 9px !important;
    }
  }
}
