h2 {
  @include font-size(43px);
  font-weight: bold;
}

.home {
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: $coWhite;

    h1 {
      font-weight: bold;
      @include font-size(43px);
    }

    h3 {
      font-weight: bold;
      @include font-size(25px);
    }
  }

  &__banner {
    margin-top: 100px;
  }

  @include breakpoint(lg) {
    &__banner {
      margin-top: 70px;
    }
  }

  @include breakpoint(md) {
    &__banner--holder {
      img {
        height: 350px;
      }
    }
  }
}

.carousel {
  .carousel-indicators {
    bottom: 30px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 0 7px;
    }
  }
}

.partners {
  color: $coWhite;
  background: $coBlack;

  &__content {
    @include font-size(22px);

    a {
      @include font-size(25px);
      font-weight: bold;
      color: $coWhite;
      border-bottom: 1px solid #838383;

      &:hover {
        color: #eb3c18;
        border-bottom: 1px solid #eb3c18;
      }
    }
  }

  &__video {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.client {
  h4 {
    @include font-size(22px);
  }

  &__list {
    .col-6 {
      padding: 37px 40px;
    }
  }

  @include breakpoint(md) {
    .col-6 {
      padding: 30px 20px;
    }
  }

  @include breakpoint(sm) {
    .col-6 {
      padding: 20px 20px;
    }
  }
}

.services {
  @include font-size(22px);
  background: $coBlack;
  color: $coWhite;

  &__thumbs {
    position: relative;
    overflow: hidden;
    height: 199px;

    .img-fluid {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: cover;
      height: 100%;
      width: 100%;
    }

    &--title {
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($coBlack, 0.5);

      h3 {
        position: relative;
        display: inline-block;
        @include font-size(22px);
        margin: auto;
        border-bottom: 2px solid $coWhite;
        z-index: 3;
      }
    }

    &:before {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      content: '';
      border-top: 2px solid $coWhite;
      z-index: 2;
      @include transform(scale(0,1));
      @include transform-origin(0 100%);
      @extend .ease3;
    }

    &:after {
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 20px;
      content: '';
      border-left: 2px solid $coWhite;
      z-index: 2;
      @include transform(scale(1, 0));
      @include transform-origin(0 0);
      @extend .ease3;
    }

    a {
      display: block;
      color: $coWhite;

      &:before {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        content: '';
        border-top: 2px solid $coWhite;
        z-index: 2;
        @include transform(scale(0,1));
        @include transform-origin(100% 0);
        @extend .ease3;
      }

      &:after {
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 20px;
        content: '';
        border-left: 2px solid $coWhite;
        z-index: 2;
        @include transform(scale(1, 0));
        @include transform-origin(0 100%);
        @extend .ease3;
      }
    }

    &:hover {
      img {
        @include transform(scale(1.2));
      }

      &:before,
      &:after {
        @include transform(scale(1));
      }

      a {
        &:before,
        &:after {
          @include transform(scale(1));
        }
      }
    }

    @include breakpoint(sm) {
      height: 160px;
    }
  }
}

.contact {
  .map { width: 100%; height: 437px; }

  .c-map { margin-top: -15%; }
  .contact-form { 
    max-width: 1298px; margin: 0 auto; padding: 70px 50px; padding-bottom: 20px; background: $coWhite; color: $coGray;
    @include font-size(14px);
    .c-f-left {
      h2 {
        @include font-size(30px);
        margin: 0;
      }
      h3 { @include font-size(24px); font-weight: bold; margin-bottom: 20px; }

      .contact-info { @include font-size(14px);
        i { @include font-size(20px); margin-bottom: 20px; }
        h4 { @include font-size(16px); }
        p { color: $coGray; }
      }
    }

    .contact-right {
      .form-group { margin-bottom: 25px; }
      .form-control { background: none; border-radius: 0; height: 50px; padding: 10px; border: 1px solid $coLGray; color: $coLGray;
        @include font-size(14px);
        &:focus { box-shadow: 0 0 2px 3px rgba(#faa431, 0.4); }
        &::placeholder { color: $coLGray; }
        &.msg { height: 200px; }
      }
    }
  }

  @include breakpoint(lg) {
    .map { height: 400px; }
    .c-map { margin-top: 0; }
    .contact-form { padding-left: 0; padding-right: 0; }
  };

  @include breakpoint(md) {
    padding-bottom: 0 !important;
    .contact-form { padding: 40px 15px; 
      .c-f-left { margin-bottom: 30px; }
    }
  };
}
