// this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative; }
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.ease2 { @include transition(all 0.2s ease); }
.ease3 { @include transition(all 0.3s ease); }
.ease0 { @include transition(all 0 ease); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }
.img-auto { width: 100%; height: auto; }
.img-objecfit {
  object-fit: cover;
  object-position: center;
}
.container {
  max-width: 1386px;
}
#main-wrapper { 
  
}

.zx1 { z-index: 1; }
.zx2 { z-index: 2; }
.zx3 { z-index: 3; }
.zx4 { z-index: 4; }
.zx5 { z-index: 5; }
.zx6 { z-index: 6; }
.overflow { overflow: hidden; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; }
.explorer .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.explorer .preloader .spinner { display:none; }
// this is area is for reserved class

html {
  @include breakpoint(lg) {
    font-size: 14px;
  }

  @include breakpoint(md) {
    font-size: 13px;
  }

  @include breakpoint(sm) {
    font-size: 12px;
  }
}

.btn-gray { display: inline-block; @include font-size(16px); min-width: 170px; padding: 15px 20px; border: none; text-align: center; background: lighten($coGray, 10%); color: $coWhite; border-radius: 0;
  &.coWhite { color: $coWhite; }
  &:hover { background: $coOrange; }
}

.overflow {
  span {
    display: inline-block;
  }
}

.fadeUp { opacity: 0; }

.touch {
  .fadeUp { opacity: 1; }
}

