.services-grid {
  max-width: 1422px;
  margin: 0 auto;

  .grid {
    .grid-item {
      width: 33.3333333333%;
      padding: 0.7%;
  
      &.md {
        width: 50%;
      }
  
      &.lg {
        width: 66.66666%;

        .grid__inner {
          padding: 22.3%;
        }
      }
  
      @include breakpoint(md) {
        width: 50%;
  
        &.lg {
          width: 100%;
        }
      }
    }
  
    &__inner {
      position: relative;
      overflow: hidden;
      padding: 45.5%;

      a {
        @include transition(all 0s ease);
        display: block;
      }

      img {
        @extend .ease3;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        @include transform(translate(-50%, -50%));
      }

      &:hover {
        img {
          @include transform(translate(-50%, -50%) scale(1.2))
        }

        &:before,
        &:after {
          @include transform(scale(1));
        }

        .grid__inner--hover {
          background: rgba(0,0,0,0.6);

          &:before,
          &:after {
            @include transform(scale(1));
          }
        }

        .grid__inner--holder {
          opacity: 1;
        }
      }

      &:before {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        content: '';
        border-top: 2px solid $coWhite;
        z-index: 2;
        @include transform(scale(0,1));
        @include transform-origin(0 100%);
        @extend .ease3;
      }

      &:after {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        content: '';
        border-left: 2px solid $coWhite;
        z-index: 2;
        @include transform(scale(1, 0));
        @include transform-origin(0 0);
        @extend .ease3;
      }
      
      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $coWhite;
        @extend .ease3;

        &:before {
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          content: '';
          border-top: 2px solid $coWhite;
          z-index: 2;
          @include transform(scale(0,1));
          @include transform-origin(100% 0);
          @extend .ease3;
        }
  
        &:after {
          position: absolute;
          top: 20px;
          bottom: 20px;
          right: 20px;
          content: '';
          border-left: 2px solid $coWhite;
          z-index: 2;
          @include transform(scale(1, 0));
          @include transform-origin(0 100%);
          @extend .ease3;
        }
      }

      &--holder {
        opacity: 0;
        @extend .ease3;
        @include font-size(16px);

        h2 {
          @include font-size(30px);
        }
      }
    }
  }

}